services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prom
    restart: unless-stopped
    ports:
    - <changeme!>:9090:9090
    volumes:
    - ./prometheus:/etc/prometheus:ro
    - ./data/prometheus:/prometheus
    command:
    - --config.file=/etc/prometheus/prometheus.yml
    - --storage.tsdb.path=/prometheus
  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    restart: unless-stopped
    ports:
    - <changeme!>:9093:9093
    volumes:
    - ./alertmanager:/etc/alertmanager:ro
    - ./data/alertmanager:/alertmanager
    - ./secrets/telegram_bot_token:/run/secrets/telegram_bot_token:ro
    - ./secrets/telegram_chat_id:/run/secrets/telegram_chat_id:ro
    command:
    - --config.file=/etc/alertmanager/alertmanager.yml
    - --storage.path=/alertmanager
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
    - <changeme!>:3000:3000
    environment:
    - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
    - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
    - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
    - ./data/grafana:/var/lib/grafana
    - ./grafana-provisioning:/etc/grafana/provisioning:ro
  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped
    ports:
    - <changeme!>:3100:3100
    volumes:
    - ./loki:/etc/loki:ro
    - ./data/loki:/loki
    command:
    - -config.file=/etc/loki/loki.yml
  blackbox:
    image: prom/blackbox-exporter:latest
    container_name: blackbox
    restart: unless-stopped
    ports:
    - <changeme!>:9115:9115
    cap_add:
    - NET_RAW
    volumes:
    - ./blackbox:/etc/blackbox_exporter:ro
    command:
    - --config.file=/etc/blackbox_exporter/blackbox.yml
  matrix-receiver:
    image: metio/matrix-alertmanager-receiver:latest
    container_name: matrix-receiver
    restart: unless-stopped
    ports: []
    environment:
    - MATRIX_HOMESERVER_URL=${MATRIX_HOMESERVER_URL}
    - MATRIX_USER_ID=${MATRIX_USER_ID}
    - MATRIX_ACCESS_TOKEN=${MATRIX_ACCESS_TOKEN}
    volumes:
    - ./matrix-receiver:/config:ro
    command:
    - --config-path
    - /config/config.yml
